<div class="profileConteiner">
    <div class="conteiner pato45">
        <div class="row">
            <div class="col-md-3">
                <div class="avatarFrameoline">
                    <img src="../../assets/img/generic_avatar.png" class="avatarImage img-fluid" />
                </div>
                <hr />
                <div>
                    <span>Cambiar Foto</span><br />
                    <label class="costo-file-upload">
                    <input type="file">
                    Subir Avatar
                  </label>
                </div>
            </div>
        </div>
    </div>
</div>