<div id="homeContainer">

    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div *ngIf="user" class="avatarFrameOnLine">
                        <img *ngIf="user.avatar" [src]="user.avatar " class="avatarImage img-fluid" />
                        <img *ngIf="!user.avatar" id="homeAvartarPicture" src="../../assets/img/logo_live_{{user.status}}.png">
                    </div>
                </div>
                <div *ngIf="user" class="col">
                    <b>{{user.subnick}}</b>
                    <div>
                        <span>{{user.nick}}</span>
                        <br />
                        <span>{{user.email}}</span><br/>
                        <a (click)="logout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="whiteContainerPadded marto15">

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Buscar Amigo" [(ngModel)]="query">
            </div>
            <div class="col-md-auto">
                <img (click)="open()" src="../../assets/img/logo_live_add.png" class="icon" />
            </div>
        </div>
        <hr />
        <div *ngIf="friends">
            <b *ngIf="friends">Amigos ({{friends.length}}/{{friends.length}})</b>
            <div *ngFor="let user of friends | search:query; let i = index" class="disblo marbo5">
                <img id="estaus-logo" src="../../assets/img/logo_live_{{user.status}}.png">
                <samp routerLink="/conversation/{{user.uid}}">
                <!-- <img src="../../assets//img/logo_live_online.png" class="icon"> -->
                 <b>{{user.nick}}</b> - {{user.subnick||'No Subnick'}}
                <small>{{user.email}}</small>
            </samp>
            </div>
        </div>
    </div>


</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Amigo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <b>Ingresa el imel de tu amigo</b>
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="friendEmail" (keyup.enter)="sendRequest()">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Guardar</button>
    </div>
</ng-template> -->