#estaus-logo {
    width: 30px;
}

#homeContainer {
    background-image: url(../../../src/assets/img/msnbg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#whiteBorderGlassBox {
    border: 2px solid rgba(255, 255, 255, .75);
    padding: 8px;
}

.homeHeadContainer {
    background-color: rgba(255, 255, 255, .50);
}

#homeAvartarPicture {
    max-width: 100px;
}

.avatarFrameOffLine {
    background: rgba(210, 255, 82, 1);
    background: -moz-linear-gradient(top, rgba(210, 255, 82, 1) 0%, rgba(28, 217, 78, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(100%, rgba(28, 217, 78, 1)));
    background: -webkit-linear-gradient(top, rgba(210, 255, 82, 1) 0%, rgba(28, 217, 78, 1) 100%);
    background: -o-linear-gradient(top, rgba(210, 255, 82, 1) 0%, rgba(28, 217, 78, 1) 100%);
    background: -ms-linear-gradient(top, rgba(210, 255, 82, 1) 0%, rgba(28, 217, 78, 1) 100%);
    background: linear-gradient(to bottom, rgba(210, 255, 82, 1) 0%, rgba(28, 217, 78, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#1cd94e', GradientType=0);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-block;
}

.whiteContainerPadded {
    padding: 15px;
    background-color: #efffff;
}

.icon {
    width: 30px;
}

.disblo {
    display: block !important
}

.marbo5 {
    margin-bottom: 5px;
}